.login{
    background-color: white;
    padding: 12px 29px;
    border-radius: 8px;
    border-width: thin;
    height: 48px;
  }
  .signup{
    padding: 12px 29px;
    border-radius: 8px;
    border-width: 0px;
    background-color: deeppink;
    color: white;
    height: 48px;
  }
  .background1{
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  .search-input{ 
    font-size: 17px;
    float: left;
    background: white;
    border: none;
    outline: none;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }
  .search-div{
    border: 1px gray solid;
    height: 48px;
    width: 443px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
  }
  #search-icon{
    align-self: center;
    margin-right: 5px;
  }
  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .small{
    position: relative;
    top: 17px;
    left: 58px;
    display: inline-flex;
    width: 128px;
  }
  #title{
    position: relative;
    top: 91px;
    left: -78px;
    display: inline-flex;
  }
  .para{
    position: relative;
    display: inline-flex;
    width: 400px;
    top: 145px;
    left: -390px;
  }
  #sub{
    position: relative;
    display: inline-flex;
    top: 239px;
    left: -793px;
  }
  .catal{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -229px;
}
  .categories{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 760px;
  }
  .top{
    display: inline-flex;
    justify-content: start;
    position: relative;
    font-size: 34px;
    bottom: 480px;
    left: -170px;
  }
  .top2{
    position: relative;
    bottom: 450px;
    margin-right: 6px;
  }
  .top2 > p{
    position: relative;
    bottom: 81px;
    left: 100px;
    display: inline-flex;
  }
  .tool{
    position: relative;
    top: 260px;
    left: -45px;
    display: inline;
  }
  .category{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 810px;
  }
#rate1{
  position: relative;
  bottom: -414px;
  /* display: inline-flex; */
  /* width: fit-content; */
  margin-bottom: 17px;
  height: 16px;
  left: -612px;
}
#rate2{
  position: relative;
  bottom: -414px;
  /* display: inline-flex; */
  /* width: fit-content; */
  margin-bottom: 17px;
  height: 16px;
  left: -612px;
}
#rate3{     
  position: relative;
  bottom: -414px;
  /* display: inline-flex; */
  /* width: fit-content; */
  margin-bottom: 17px;
  height: 16px;
  left: -612px;
  }
#rate4{
  position: relative;
  bottom: -414px;
  /* display: inline-flex; */
  /* width: fit-content; */
  margin-bottom: 17px;
  height: 16px;
  left: -612px;
}
#rate5{
  position: relative;
  bottom: -414px;
  /* display: inline-flex; */
  /* width: fit-content; */
  margin-bottom: 17px;
  height: 17px;
  left: -612px;
}
.display{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0px;
  margin-left: 0px;
  top: -120px;
}
.width{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 240px;
}
#rateh1{
  position: relative;
  bottom: -233px;
  /* display: inline-flex; */
  width: 92px;
  margin-bottom: 12px;
  left: 3px;
  height: 20px;
}
#rateh2{
  position: relative;
  bottom: -229px;
  /* display: inline-flex; */
  width: fit-content;
  margin-bottom: 12px;
}
#rateh3{
  position: relative;
  bottom: -229px;
  /* display: inline-flex; */
  width: fit-content;
  margin-bottom: 12px;
}
#rateh4{
  position: relative;
  bottom: -229px;
  /* display: inline-flex; */
  width: fit-content;
  margin-bottom: 12px;
}
#rateh5{
  position: relative;
  bottom: -229px;
  /* display: inline-flex; */
  width: fit-content;
  margin-bottom: 12px;
}
#duration{
  position: relative;
  top: 50px;
}
.duration{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 240px;
}
#rates1{
  position: relative;
  margin-left: -1223px;
  top: -60px;
}
#rates2{
  position: relative;
  margin-left: -1223px;
  top: -35px;
}
#rates3{
  position: relative;
  margin-left: -1223px;
  top: -13px;
}
#rates4{
  position: relative;
  margin-left: -1223px;
  top: 9px;
}
#row1{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  left: 255px;
  margin-bottom: 130px;
}
#row2{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  left: 255px;
  margin-bottom: 130px;
}
#row3{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  left: 255px;
}
#row4{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  left: 255px;
  margin-bottom: 130px;
}
.motrat{
  position: relative;
  width: 212px;
  top: 90px;
}
.pozita{
  position: relative;
  width: 212px;
  top: 289px;
}
.navy{
  position: relative;
  width: 100%;
  top: 221px;
}
.logus{
  position: relative;
  bottom: 150px;
  left: 50px;
}
.remor{
  position: relative;
  bottom: 115px;
  left: 50px;
  width: 530px;
  color: white;
  line-height: 28px;
}
.policy{
  position: relative;
  bottom: -11px;
  left: 50px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
.terms{
  position: relative;
  bottom: -11px;
  left: 75px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
.copyright{
  position: relative;
  bottom: -11px;
  left: 630px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
.about{
      position: relative;
  bottom: 317px;
  left: 285px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
  /* /* font-size: 400px; */
}
.us{
  position: relative;
  bottom: 267px;
  left: 230px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
  /* /* font-size: 400px; */
}
.cours{
  position: relative;
  bottom: 230px;
  left: 167px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
.ment{
  position: relative;
  bottom: 195px;
  left: 112px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
.contact{
  position: relative;
  bottom: 155px;
  left: 61px;
  /* width: 527px; */
  color: white;
  display: inline-flex;
}
#stars4{
  position: relative;
  bottom: 156px;
  left: -72px;
}
#stars3{
  position: relative;
  bottom: 112px;
  left: -48px;
  /* width: 43px; */
  height: -26px;
}
#stars2{
  position: relative;
    bottom: 70px;
    left: -24px;
    /* width: 43px; */
    height: -26px;
}
#stars1{
  position: relative;
  bottom: 28px;
  left: 0px;
  /* width: 43px; */
  height: -26px;
}
#q{
  position: relative;
  top: 405px;
  margin-bottom: 55px;
}
#skom{
  position: relative;
    bottom: 113px;
}
#gjum{
  position: relative;
  bottom: 70px;
  left: -24px;
}
#hic{
  position: relative;
  bottom: 28px;
  left: -48px;
}
#o{
  position: relative;
  bottom: 205px;
}
#nana{
  position: relative;
  bottom: 161px;
  left: -24px;
}
#jeme{
  position: relative;
  bottom: 117px;
  left: -48px;
}
#breh{
  position: relative;
    bottom: 72px;
    left: -72px;
}